h1 {
    text-align: center;
    font-family: "copperplate", fantasy;
    width: auto;
    height: 250px;
    padding: 20px;
    height: 100px;
    font-size: 80px;
    text-align: center;
    border-bottom: 1px solid #000;
    border-radius: 8px;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#column1 {
    border: 2px solid black;
    display: inline-block;
    border-radius: 10px;
}

#column2 {
    border: 2px solid black;
    display: inline-block;
    border-radius: 10px;
}

#column3 {
    border: 2px solid black;
    display: inline-block;
    border-radius: 10px;
}

.piko-card {
    flex-basis: 25%;
    margin: 3em;
}

.piko-img {
    width: 200px;
    border-radius: 1em;
}



.piko-info {
    border: 2px solid black; 
    text-align: center;
    list-style-type: none;
    padding: 15px;           
    margin-top: 1em;         
    background-color: #f0f0f0; 
    border-radius: 5px;      

}

.piko-name {
    font-family: "copperplate", fantasy;
    font-size: 2em;
    text-decoration: underline;
}

.piko-abilities {

}

.piko-category {

}

.piko-weakness {

}
